/**
* Base styles
* --------------------------------- */

html {
  font-size: 16px;
  height:100%;

  body {
    font-family: $font-family;
    background: $gray-lightest!important;
    height:100%;

    h1 {
      font: 38px/50px $font-family-header;
      text-transform: uppercase;
    }
    h2 {
      font: 28px/36px $font-family-header;
      text-transform: uppercase;
    }
    h3 {
      font: 20px/30px $font-family-header;
      text-transform: uppercase;
    }
    h4 {
      font: 20px/30px $font-family-header;
    }
    h5 {
      font: 15px/23px $font-family-header;
      text-transform: uppercase;
    }
    h6 {
      font: 17px/26px $font-family-header;
    }

    blockquote {
      font: 20px/30px $font-family-header;
    }
    a {
      @include strip-link-styles($color-links, $decoration: none);
    }

    input[type="submit"] {
      background-color: $color-links;
    }
  }
}