/**
* Header content styles
* --------------------------------- */

header#header {
  nav#secondary-menu {
    margin-left: 0;
    .region-secondary-navigation {
      margin-left: 16px;

      ul.menu li a {
        background: $color-primary;
        border-radius: 0;
        opacity: 1;

        @include strip-link-styles($color:$white);
      }
    }
  }

  .main-menu {
    float: right;
    display: none;

    @include breakpoint(841px) {
      display: block;
    }

    ul {
      padding: 0;
      margin: 17px 0 0;
    }

    li {
      list-style-image: none;
      list-style-type: none;
      float: left;

      &:last-child a {
        border-right: 0;
      }

      a {
        background: transparent;
        border-right: 1px solid $black;
        border-radius: 0;
        padding: 0 10px;
        text-decoration: underline;

        &:focus,
        &:link,
        &:visited,
        &:hover {
          background: transparent;
        }
      }
    }
  }
}
