/**
* Variables
* --------------------------------- */

// Aarhus.dk variables.
$font-family:             Arial, sans-serif;
$font-family-header:      "Arial Black", sans-serif;

$color-primary: rgb(54, 97, 216); // Hero, buttons, textlinks, graphical elements (Labels, file types, bullets)
$color-links: rgb(238, 0, 67); // Icons, dates, colored textboxes

$black: rgb(51, 51, 51); // Base text color.
$black-dampened: rgba(51, 51, 51, .6); // Dampened text.

$gray: rgba(51, 51, 51, .2); // Dividers, strokes, slider dots.
$gray-lighter: rgba(51, 51, 51, .1); // Secondary background
$gray-lightest: rgb(246, 246, 246); // Background

$white: rgb(255, 255, 255);