/**
*
*/
/**
* Variables
* --------------------------------- */
/**
* Mixins
* --------------------------------- */
/* Strip all link styles default color of links to inherit
================================================================================================================== */
/* Breakpoint
================================================================================================================== */
/**
* Base styles
* --------------------------------- */
html {
  font-size: 16px;
  height: 100%; }
  html body {
    font-family: Arial, sans-serif;
    background: #f6f6f6 !important;
    height: 100%; }
    html body h1 {
      font: 38px/50px "Arial Black", sans-serif;
      text-transform: uppercase; }
    html body h2 {
      font: 28px/36px "Arial Black", sans-serif;
      text-transform: uppercase; }
    html body h3 {
      font: 20px/30px "Arial Black", sans-serif;
      text-transform: uppercase; }
    html body h4 {
      font: 20px/30px "Arial Black", sans-serif; }
    html body h5 {
      font: 15px/23px "Arial Black", sans-serif;
      text-transform: uppercase; }
    html body h6 {
      font: 17px/26px "Arial Black", sans-serif; }
    html body blockquote {
      font: 20px/30px "Arial Black", sans-serif; }
    html body a:link {
      color: #ee0043;
      text-decoration: none; }
    html body a:visited {
      color: #ee0043;
      text-decoration: none; }
    html body a:hover {
      color: #ee0043;
      text-decoration: none; }
    html body a:focus {
      color: #ee0043;
      text-decoration: none; }
    html body input[type="submit"] {
      background-color: #ee0043; }

/**
* Layout styles
* --------------------------------- */
#page {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: none; }
  #page .header--wrapper {
    box-sizing: border-box;
    flex: 0 0 100px;
    width: 100%; }
    #page .header--wrapper #header {
      background: white;
      box-sizing: border-box;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.19);
      height: 100px;
      left: 0;
      min-height: 0;
      position: fixed;
      margin: 0;
      padding: 20px;
      right: 0;
      z-index: 100; }
      #page .header--wrapper #header .header--inner {
        max-width: 1366px;
        margin: 0 auto;
        height: 100%;
        position: relative; }
  #page #main {
    background-color: white;
    box-sizing: border-box;
    flex: 1 1 100%;
    max-width: 1366px;
    width: 100%;
    margin: 0 auto; }

/**
* Header content styles
* --------------------------------- */
header#header nav#secondary-menu {
  margin-left: 0; }
  header#header nav#secondary-menu .region-secondary-navigation {
    margin-left: 16px; }
    header#header nav#secondary-menu .region-secondary-navigation ul.menu li a {
      background: #3661d8;
      border-radius: 0;
      opacity: 1; }
      header#header nav#secondary-menu .region-secondary-navigation ul.menu li a:link {
        color: white;
        text-decoration: none; }
      header#header nav#secondary-menu .region-secondary-navigation ul.menu li a:visited {
        color: white;
        text-decoration: none; }
      header#header nav#secondary-menu .region-secondary-navigation ul.menu li a:hover {
        color: white;
        text-decoration: none; }
      header#header nav#secondary-menu .region-secondary-navigation ul.menu li a:focus {
        color: white;
        text-decoration: none; }

header#header .main-menu {
  float: right;
  display: none; }
  @media only screen and (min-width: 841px) {
    header#header .main-menu {
      display: block; } }
  header#header .main-menu ul {
    padding: 0;
    margin: 17px 0 0; }
  header#header .main-menu li {
    list-style-image: none;
    list-style-type: none;
    float: left; }
    header#header .main-menu li:last-child a {
      border-right: 0; }
    header#header .main-menu li a {
      background: transparent;
      border-right: 1px solid #333333;
      border-radius: 0;
      padding: 0 10px;
      text-decoration: underline; }
      header#header .main-menu li a:focus, header#header .main-menu li a:link, header#header .main-menu li a:visited, header#header .main-menu li a:hover {
        background: transparent; }

/**
 *
 * Hamburger menu
 *
 */
.hamburger-menu {
  background-color: white;
  border-top: 3px solid #333333;
  bottom: 0;
  margin-right: 0;
  max-width: 90%;
  overflow: hidden;
  position: fixed;
  right: -30em;
  top: 0;
  transition: right .3s;
  transition-timing-function: ease-in-out;
  width: 30em;
  z-index: 101; }
  .hamburger-menu.is-open {
    right: 0; }
  .hamburger-menu--inner {
    height: 100%;
    overflow-y: scroll; }
  .hamburger-menu--links {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 5em;
    text-align: center; }
    .hamburger-menu--links li.menu__item {
      list-style-image: none;
      list-style-type: none;
      margin: .5em 0; }
    .hamburger-menu--links a {
      font-weight: 600;
      color: #333333; }
      .hamburger-menu--links a.active {
        color: #333333;
        text-decoration: underline; }
      .hamburger-menu--links a.is-sub {
        font-weight: 500;
        line-height: 2; }
  .hamburger-menu .user-links {
    padding-left: 2em;
    padding-right: 2em;
    text-align: center; }
    .hamburger-menu .user-links ul {
      display: inline-block; }
    .hamburger-menu .user-links li {
      list-style-image: none;
      list-style-type: none;
      float: left; }
      .hamburger-menu .user-links li a {
        padding: 6px 15px;
        background: #3661d8; }
        .hamburger-menu .user-links li a:link {
          color: white;
          text-decoration: none; }
        .hamburger-menu .user-links li a:visited {
          color: white;
          text-decoration: none; }
        .hamburger-menu .user-links li a:hover {
          color: white;
          text-decoration: none; }
        .hamburger-menu .user-links li a:focus {
          color: white;
          text-decoration: none; }
  .hamburger-menu--group {
    margin-bottom: 1.75em;
    padding-bottom: 1.5em; }
    .hamburger-menu--group:not(:last-child) {
      border-bottom: 1px solid rgba(51, 51, 51, 0.1); }
  .hamburger-menu .nav--link {
    display: list-item;
    font-size: 1.1em;
    list-style: none;
    margin-bottom: .25em;
    text-decoration: none; }

.nav-toggle {
  display: block;
  cursor: pointer;
  height: 30px;
  position: absolute;
  right: 1em;
  top: 33px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  width: 32px;
  z-index: 102; }
  @media only screen and (min-width: 841px) {
    .nav-toggle {
      display: none; } }

@media only screen and (min-width: 841px) {
  .nav-toggle.open {
    display: block; } }

.nav-toggle span {
  background: #333333;
  display: block;
  height: 5px;
  left: 0;
  opacity: 1;
  position: absolute;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
  width: 100%; }

.nav-toggle span:nth-child(1) {
  top: 0; }

.nav-toggle span:nth-child(2),
.nav-toggle span:nth-child(3) {
  top: 11px; }

.nav-toggle span:nth-child(4) {
  top: 22px; }

.nav-toggle.open span {
  background: #333333; }

.nav-toggle.open span:nth-child(1) {
  left: 50%;
  top: 15px;
  width: 0%; }

.nav-toggle.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.nav-toggle.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.nav-toggle.open span:nth-child(4) {
  left: 50%;
  top: 14px;
  width: 0%; }

/**
 *
 * Overlay
 *
 */
.menu-overlay {
  bottom: 0;
  height: 100%;
  opacity: 0.85;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 101; }
  .menu-overlay.is-visible {
    background-color: #333333;
    cursor: pointer;
    transition: background 0.3s;
    visibility: visible; }

/**
* Main content styles
* --------------------------------- */
div#pane-proposal-discussion-filter ul.secondary-filters {
  min-height: 0;
  display: none; }
  div#pane-proposal-discussion-filter ul.secondary-filters li a.active {
    border-radius: 0; }

div#pane-proposal-discussion-filter ul.primary-filters {
  font-size: 12px; }

div#pane-proposal-discussion-filter ul.primary-filters li.filter-search {
  display: none; }

div#pane-proposal-discussion-filter {
  margin-bottom: 20px; }

div#pane-proposal-discussion-filter div.heatmap-legend {
  margin: 7px; }

div#pane-proposal-discussion-filter form#views-exposed-form-proposal-discussion-page div.views-exposed-form div.views-exposed-widgets div#edit-keys-wrapper input {
  border: 1px solid rgba(51, 51, 51, 0.2);
  border-radius: 0;
  padding: 10px; }

div#pane-proposal-discussion-filter form#views-exposed-form-proposal-discussion-page div.views-exposed-form #edit-submit-proposal-discussion {
  background-color: #3661d8;
  border: 1px solid #3661d8;
  border-radius: 0;
  padding: 10px; }

article.node-proposal div.heatmap {
  border-radius: 0; }

body.page-user div#main input.form-submit {
  background: none;
  background-color: #3661d8;
  border-radius: 0;
  color: #fff;
  padding: 0 35px 0 35px; }

/**
* Overlay content styles
* --------------------------------- */
body.overlay {
  background: rgba(0, 0, 0, 0.2) !important;
  opacity: 1; }
  body.overlay .nav-toggle {
    display: none; }
  body.overlay #overlay {
    opacity: 1; }
  body.overlay div.heatmap.detail-view div.heatmap.detail-view, body.overlay div#overlay div.heatmap.detail-view {
    margin-right: 0; }
  body.overlay div.heatmap.detail-view .trigger, body.overlay div#overlay .trigger {
    right: 0; }
  body.overlay div.response-bubble-container, body.overlay div#overlay div.response-bubble-container {
    margin-left: 0; }
  body.overlay article.node-proposal .hover-box-css div.content-container {
    width: auto; }
  body.overlay div#overlay section#comments form#comment-form div#edit-actions {
    text-align: left; }
    body.overlay div#overlay section#comments form#comment-form div#edit-actions input#edit-submit {
      background: none;
      background-color: #3661d8;
      border-radius: 0;
      color: #fff;
      padding: 0 35px 0 35px; }
  body.overlay article.node-proposal div.bubble p,
  body.overlay div#overlay div.response-bubble-container div.response-bubble div.field-name-field-municipal-response p {
    font-size: 1em; }
